/* Header */
.header{
    width: 100%;
    height: 50px;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 1;
}

.grid__nav{
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__item-link{
    list-style: none;
    color: var(--primary-color);
    line-height: 50px;
    text-decoration: none;
    margin: 0 12px;
    font-size: 18px;
    padding: 4px;
}

.nav__item-link:hover{
    color: var(--white-color);
}

/* About */
.about{
    margin-top: 50px;
    /* background-image: url(/The-gamer/assets/img/backgr.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    padding-top: 50%;
    position: relative;
}

.about__img{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
}

.about__layout{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 21, 0.6);
}

.about__body{
    position: absolute;
    bottom: 40%;
    color: var(--white-color);
    left: 15%;
}

.about__heading{
    color: var(--primary-color);
    font-size: 44px;
    font-weight: 800;
}

.about__desc{
    width: 50%;
    font-size: 16px;
    margin-top: 12px;
}

.about__socials{
    margin-top: 32px;
    font-size: 16px;
}

.about__socials-icon{
    margin-top: 12px;
}

.about__socials-icon__link{
    text-decoration: none;
    color: var(--white-color);
}

.about__socials-icon-hover{
    font-size: 20px;
    padding: 4px;
}

.about__socials-icon-hover:hover{
    opacity: 0.6;
}

/* Games */
.games{
    background-color: rgba(0, 0, 21, 1);
}

.games__heading{
    padding-top: 66px;
    color: var(--white-color);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.games__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(26,8,45,1);
    color: var(--white-color);
    border: 1px solid #433552;
    border-radius: 8px;
    box-shadow: 0 0 20px 10px #080a3b;
    padding: 12px;
}

.games__list:hover{
    transform: scale(1.1);
}

.games__name{
    margin-top: 32px;
    font-size: 20px;
    padding-bottom: 40px;
}

/* Store */
.store{
    background-color: rgba(0, 0, 21, 1);
    color: var(--white-color);
}

.store__item{
    box-shadow: 0 0 20px 10px #080a3b ;
    border: 1px solid #000;
}

.store__heading{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 30px 0 0 0;
}

.store__item-img{
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
    background-position: center;
}

.store__body{
    background-color: rgba(0, 0, 21, 1);
    padding: 12px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #892be2;
}

.store__body-heading{
    font-size: 20px;
    font-weight: 550;
}

.store__body-current{
    margin-top: 16px;
    font-size: 14px;
}

.store__body-price{
    margin-top: 4px;
    font-size: 14px;
}

/* Event */
.events{
    background-color: rgba(0, 0, 21, 1);
    color: var(--white-color);
}

.event__heading{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 30px 0 0 0;
}

.event__body{
    margin-top: 64px;
    background-color: #1a082d;
    padding: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.event__list{
    width: 40%;
}

.event__item-heading{
    padding: 10px;
    margin: 10px;
    background-color: #ffa500;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.8;
}

.event__item-heading-2{
    padding: 10px;
    margin: 10px 0 0 0;
    font-size: 32px;
    font-weight: 550;
    color: var(--primary-color);
}

.event__item-desc{
    padding: 10px;
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 1.5;
}

.event__form{
    padding: 0 10px;
    font-size: 16px;
}

.event__form-name{
    margin-top: 16px;
    display: block;
    color: var(--primary-color);
}

#event__form-input{
    width: 50%;
    display: block;
    height: 26px;
    padding: 4px;
    font-size: 16px;
}

.event__form-btn{
    margin-top: 16px;
    padding: 10px 16px;
    background-color: #f44336;
    color: var(--white-color);
    border: none;
    font-size: 16px;
    border-radius: 4px;
}

.event__form-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);
}

/* Footer */
.footer{
    background-color: rgba(0, 0, 21, 1);
    color: var(--white-color);
    font-size: 14px;
}

.footer__heading{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 66px 0 0 0;
}

.infor__address-list{
    list-style: none;
    margin-top: 12px;
}

.infor__input{
    margin-top: 24px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 4px;
}

.infor__form-btn{
    margin-top: 16px;
    padding: 10px 16px;
    background-color: #f44336;
    color: var(--white-color);
    border: none;
    font-size: 16px;
    border-radius: 4px;
}

.nav__input{
    display: none;
}

/* Mobile */
.nav__mobile{
    margin-left: 8px;
    height: 50px;
    color: var(--primary-color);
    display: none;
}

.nav__menu{
    font-size: 46px;
}

.nav__overplay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
}

.grid__mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--white-color);
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.3s;
}

.trademark__mobile {
    text-align: center;
    
}

.nav__mobile-link__heading{
    font-size: 26px;
    text-decoration: none;
    color: var(--primary-color);
}

.nav__mobile-list{
    margin-top: 8px;
    line-height: 2;
    display: flex;
    flex-direction: column;
}

.nav__mobile-link{
    text-decoration: none;
    color: var(--primary-color);
    list-style: none;
    padding: 8px;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

.nav__mobile-close{
    padding: 4px;
    font-size: 20px;
    color: #666;
    position: absolute;
    right: 0;
    top: 0;
}

/* Show Menu */
.nav__input:checked ~ .nav__overplay{
    display: block;
}

.nav__input:checked ~ .grid__mobile{
    transform: translateX(0);
    opacity: 1;
}