@media (max-width:1024px) and (min-width:719px) {
    .about__body{
        bottom: 15%;
        left: 10%;
    }
    .about__heading {
        font-size: 36px;
    }
    .grid__column-3{
        width: 50%;
    }
    .event__body{
        padding: 16px;
    }
    .trademark__mobile{
        display: none;
    }
}

@media (max-width:718px) {
    .trademark,.nav__list{
        display: none;
    }
    .nav__mobile{
        display: block;
    }

    .grid__nav{
        justify-content: space-around;
    }
}

@media (min-width:1025px){
    .trademark__mobile{
        display: none;
    }
}